<!DOCTYPE html>
<html>
<head>
    <title>Real-time Chart Example</title>
<!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
    <script src="chart.js"></script>


    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .container {
            display: grid;
            gap: 10px;
            grid-template-columns: 87% 10%;
        }

        .vbox {
            display: grid;
            gap: 10px;
            grid-template-columns: 5% 5%;
        }

        .row {
            display: flex;
            width: 100%;
        }

        .row input {
            flex: 1;
            padding: 5px;
            margin: 0 5px 5px 0;
        }

        .bottom {
            width: 100%;
        }

        .row button {
            width: 97%;
            height: 40px;
            margin: 5px 5px 5px 0;
        }
    </style>
</head>
<body>
<div>
    <a href="/home">Home</a>
    <div class="container">
        <div class="chart">
            <canvas id="real-time-chart"></canvas>
        </div>
        <div>
            <div class="row">
                <h3>Scale</h3>
            </div>
            <div class="row">
                <input type="number" id="minScale" class="row input">
                <input type="number" id="maxScale" class="row input">
            </div>
            <div class="row">
                <h3>Request rate (ms.)</h3>
            </div>
            <div class="row">
                <input type="number" id="refreshTime" class="bottom">
            </div>
        </div>
    </div>
</div>
<button id="restart">Restart recipient</button>

<script>
    document.getElementById('reset-filter').addEventListener('click', function () {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', currentPageUrl + '/options?action=reset_filter', true);
        xhr.send();
    });
</script>


<script>
    var ctx = document.getElementById('real-time-chart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Default filter',
                fill: false,
                borderColor: 'rgb(255, 0, 0)',
                backgroundColor: 'rgba(255,255,0, 0.4)',
                tension: 0.1,
                pointRadius: 0
            }, {
                label: 'Without Filter',
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                backgroundColor: 'rgba(75,192,192,0.4)',
                tension: 0.1,
                pointRadius: 0
            }]
        },
        options: {
            scales: {
                x: {
                    color: 'black',
                    display: true,
                    title: {
                        display: true,
                        text: 'Time'
                    },
                    ticks: {
                        color: 'black' // изменить цвет надписей на оси x
                    },
                    grid: {
                        color: 'rgba(0, 0, 0, 0.5)' // изменить цвет линий фона на оси x
                    }
                },
                y: {
                    // min: -0.5,
                    // max: 0.5,
                    display: true,
                    title: {
                        display: true,
                        text: 'Value'
                    },
                    ticks: {
                        color: 'black' // изменить цвет надписей на оси y
                    },
                    grid: {
                        color: 'rgba(0, 0, 0, 0.5)' // изменить цвет линий фона на оси x
                    }
                }
            },
            responsive: true,
            animation: false
        }
    });

    const numberInput = document.getElementById('refreshTime');
    let enteredNumber = 30;
    numberInput.value = enteredNumber;


    numberInput.addEventListener('input', function () {
        enteredNumber = numberInput.value;
    });


    const minScale = document.getElementById('minScale');
    const maxScale = document.getElementById('maxScale');

    minScale.addEventListener('input', function () {
        chart.options.scales.y.min = minScale.value;
        chart.update();
    });

    maxScale.addEventListener('input', function () {
        chart.options.scales.y.max = maxScale.value;
        chart.update();
    });

    const currentPageUrl = new URL(window.location.href);
    const name = currentPageUrl.searchParams.get("name");
    let numberArray;

    fetch('/api/config?name=' + name)
        .then(response => response.json())
        .then(data => {
            const number = data.graphLen;
            numberArray = Array.from({length: number}, (_, index) => index + 1);
            chart.data.labels = numberArray;
            console.log(numberArray);
        })
        .catch(error => {
            console.error('Произошла ошибка при обработке запроса:', error);
        });

    function fetchData() {
        fetch("/api/chart?name=" + name + "&type=default")
            .then(response => response.json())
            .then(data => {
                // data.values.forEach(value => {
                //     chart.data.datasets[0].data.push(value);
                // });
                //
                // if (chart.data.datasets[0].data.length > 10000) {
                //     chart.data.datasets[0].data.splice(0, chart.data.datasets[0].data.length - 10000);
                // }
                chart.data.datasets[0].data = data.default;
                chart.data.datasets[1].data = data.valuesNoFilter;

                chart.update();

            });
        // .catch(error => console.error('Ошибка:', error));

        setTimeout(fetchData, enteredNumber);
        // setTimeout(fetchData, 40000);
    }

    function fetchPrediction() {
        fetch("/api/predict/" + name)
            .then(response => response.text())
            .then(data => {
                document.getElementById('prediction').textContent = data;
            })
            .catch(error => {
                console.error("Произошла ошибка при чтении значения с сервера:", error);
            });

        setTimeout(fetchPrediction, 200);
        // setTimeout(fetchPrediction, 20000);
    }

    document.getElementById('restart').addEventListener('click', function (event) {
        event.preventDefault();

        fetch('/api/chart?name=' + name, {
            method: 'POST',
        })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });
    });

    fetchData();
    // fetchPrediction();
</script>
</body>
</html>