<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>
<body>
<div>
    <a href="/home">Home</a>
    <div style="width: 1200px;">
        <canvas id="pure-signal"></canvas>
    </div>
    <div>
        Prediction: <span id="prediction"></span>
    </div>
    <button id="restart">Restart recipient</button>
</div>

<script>
    let elem = document.getElementById('pure-signal').getContext('2d');
    let chart = new Chart(elem, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Real-time Data',
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
                data: [],
                pointRadius: 0
            }]
        },
        options: {
            scales: {
                x: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Time'
                    }
                },
                y: {
                    display: true,
                    title: {
                        display: true,
                        text: 'Value'
                    }
                }
            },
            responsive: true,
            animation: false
        }
    });

    const currentPageUrl = new URL(window.location.href);
    const name = currentPageUrl.searchParams.get("name");
    let numberArray;

    fetch('/api/config?name=' + name)
        .then(response => response.json())
        .then(data => {
            const number = data.graphLen;
            numberArray = Array.from({ length: number }, (_, index) => index + 1);
            chart.data.labels = numberArray;
            console.log(numberArray);
        })
        .catch(error => {
            console.error('Произошла ошибка при обработке запроса:', error);
        });

    function fetchPureSignal() {
        fetch("/api/chart?name=" + name + "&type=pure")
            .then(response => response.json())
            .then(data => {
                chart.data.datasets[0].data = data.values;
                chart.update();
            })
            .catch(error => console.error('Ошибка:', error));

        setTimeout(fetchPureSignal, 50);
    }

    function fetchPrediction() {
        fetch("/api/predict/" + name)
            .then(response => response.text())
            .then(data => {
                document.getElementById('prediction').textContent = data;
            })
            .catch(error => {
                console.error("Произошла ошибка при чтении значения с сервера:", error);
            });

        setTimeout(fetchPrediction, 200);
        // setTimeout(fetchPrediction, 20000);
    }

    document.getElementById('restart').addEventListener('click', function (event) {
        event.preventDefault();

        fetch('/api/chart?name=' + name, {
            method: 'POST',
        })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });
    });

    fetchPrediction();
    fetchPureSignal();
</script>
</body>
</html>