@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.skillcontainer {
	/* display: flex; */
	align-items: center;
	justify-content: center;
	/* padding: 5px;
	height: 100vh;	 */
}

.skillcontainer .wrapper {
	width: 200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.skillcontainer .wrapper .card {
	/*background: #193C62;*/
	/*background: -webkit-linear-gradient(top, #0082ec, #00b1aa);;*/
	background: -webkit-linear-gradient(top, rgba(0, 130, 236, 0.5), rgba(0, 177, 170, 0.5));
	width: 93%;
	height: 200px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.9);
	padding: 2px 0 0 0;
}

.wrapper .card:hover {
	background-color: #ffcf00;
	/*color: #193C62;*/
	color: #fecf60;
	transform: translateY(-14px);
	transition: background 1s, color 1s, transform 0.5s;
}

.skillcontainer .wrapper .card .circle {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	cursor: default;
}

.skillcontainer .card .circle .box,
.skillcontainer .card .circle .box span {
	position: absolute;
	top: 50%;
	left: 50%;
}

.skillcontainer .card .circle .box {
	height: 100%;
	width: 100%;
	background: #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0.8);
	transition: all 0.2s;
}

.skillcontainer .card .circle:hover .box {
	transform: translate(-50%, -50%) scale(0.91);
}

.skillcontainer .card .circle .box span,
.skillcontainer .wrapper .card .text {
	 background: -webkit-linear-gradient(left, #a445b2, #005bf0);
	 /*background: -webkit-linear-gradient(left, #0054cb, #0069ff);*/
	/*background: -webkit-linear-gradient(left, #f2ddc6, #fecd5f);*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.skillcontainer .circle .box span {
	font-size: 38px;
	font-family: sans-serif;
	font-weight: 600;
	transform: translate(-45%, -45%);
	transition: all 0.1s;
}

.skillcontainer .card .circle:hover .box span {
	transform: translate(-45%, -45%) scale(1.09);
}

.skillcontainer .card .text {
	font-size: 20px;
	font-weight: 600;
}

@media(max-width: 753px) {
	.skillcontainer .wrapper {
		max-width: 700px;
	}

	.skillcontainer .wrapper .card {
		width: calc(50% - 20px);
		margin-bottom: 10px;
	}
}

@media(max-width: 505px) {
	.skillcontainer .wrapper {
		max-width: 500px;
	}

	.skillcontainer .wrapper .card {
		width: 100%;
	}
}